body {
    background-color: #e6e7ec;
}

/* Container for the algorithm cards */
.algosContainer {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    width: 80%;
    gap: 20px;
}

/* Style individual algorithm cards */
.aceeiContainer, .manipulationContainer, .tabusearchContainer {
    background: aliceblue;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.aceeiContainer:hover, .manipulationContainer:hover, .tabusearchContainer:hover {
    transform: translateY(-10px);
}

#algoName {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: #86b9e8;

}
h2 {
    text-align: center;
    font-size: 1.8em;
    color: #333;
    font-family: 'Dancing Script', cursive;

}

#title {
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
}

p {
    font-size: 1em;
    color: #666;
    line-height: 1.6;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

form {
    text-align: center;
    margin-top: 30px;
    color: #333;
}

label, select, input[type="submit"] {
    display: block;
    margin: 10px auto;
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
    color: #333;
}


select, input[type="submit"] {
    width: 10em;
    height: 2.5em;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
    width: 180px;
}

input[type="submit"]:hover {
    background-color: #72653f;
}


/* Popup container */
.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

/* Popup content */
.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.learnMoreBtn {
    background: #86b9e8;
    color:  white;
    cursor: pointer;
    width: 8em;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;

}


.learnMoreBtn:hover {
    background-color: #075985;
}

#h3Popup {
    margin: 10px 0;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

#h2Popup{
    color: #86b9e8;
}

#pPopup{
    font-size: 20px;
    text-align: left;

}

h4 {
    font-family: 'Dancing Script', cursive;
    font-size: 23px;
    color: #86b9e8;

}

li {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    color: #666;
}

/* Modal Background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */

}

h5 {
    font-size: 30px;
    color: #e74c3c;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
}

/* Close Button */
.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}