<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACEEI Algorithm Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='AlgosForm.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap">

</head>
<body>
<header>
    <div class="backgroundHeader">
        <h1>ACEEI Algorithm</h1>
        <button class="homeBtn" onclick="goToHomePage()">Home</button>
    </div>
</header>
<div class="formContainer">
    <h2>Insert the parameters and run the algorithm</h2>
    <form action="/process" method="POST" id="aceeiForm">
        <input type="hidden" name="algorithm" value="aceei">
        <!-- Choose Number of Courses -->
        <div class="fieldsContainer">
            <label for="numberOfCourses">Number of Courses:</label>
            <input type="number" id="numberOfCourses" name="numberOfCourses" min="1" required>
            <button type="button" onclick="addCourseFields()" class="vBtn">&#10004;</button>
        </div>
        <!-- Courses Input Fields (Generated Dynamically) -->
        <div id="courseFields">
            <!-- Fields for courses will be added dynamically -->
        </div>

        <div class="fieldsContainer">
            <!-- Choose Number of Students -->
            <label for="numberOfStudents">Number of Students:</label>
            <input type="number" id="numberOfStudents" name="numberOfStudents" min="1" required disabled>
            <button type="button" onclick="addStudentFields()" class="vBtn">&#10004;</button>
        </div>
        <!-- Student Input Fields (Generated Dynamically) -->
        <div id="studentFields">
            <!-- Fields for students will be added dynamically -->
        </div>

        <div class="fieldsContainer">
            <!-- Epsilon (ε) Input Field -->
            <label for="epsilon">Epsilon (ε):</label>
            <input type="number" id="epsilon" name="epsilon" step="0.001" min="0.001" required>
            <br />
            <div class="moreInfo">?
                <span class="moreInfoText">
                    Epsilon defines the range of budgets that the algorithm checks for each student.<br><br>
                    For example, if epsilon is set to 0.5 and a student's initial budget is 5, then the algorithm will consider budgets<br>
                    ranging from 4.5 to 6.5 for this student.</span>
            </div>
        </div>

        <div class="fieldsContainer">
            <!-- Delta (δ) Input Field -->
            <label for="delta">Delta (δ):</label>
            <input type="number" id="delta" name="delta" step="0.001" min="0.001" required>
            <br />
            <div class="moreInfo">?
                <span class="moreInfoText">
                    Delta is used to update the courses prices.<br><br>
                    For example, if delta is set to 0.5 and the price of course x is 5 so the update price of course x will be: 5 + (5 * 0.5) = 7.5</span>
            </div>
        </div>

        <div class="fieldsContainer">
            <!-- t Input Field with Options -->
            <label for="ef-tb">EF-TB status:</label>
            <select id="ef-tb" name="ef-tb" required>
                <option value="EFTBStatus.NO_EF_TB">No EFTB</option>
                <option value="EFTBStatus.EF_TB">EFTB</option>
                <option value="EFTBStatus.CONTESTED_EF_TB">Contested EFTB</option>
            </select>
            <br />
            <div class="moreInfo">?
                <span class="moreInfoText">
                   EF-TB status is used to define the envy condition.<br>
                    EF-TB ensures that there is no envy between a student with a higher budget and a student with a lower budget.<br>
                    EF-TB Contested also addresses envy when course prices are zero.</span>
            </div>
        </div>

        <div class="btnsContiner">
            <input type="submit" value="Run">
            <button type="button" onclick=addRandomDataInAceei()>Random</button>
        </div>
        <!-- Progress Bar Container (Updated) -->
        <div id="progressBarContainer" class="progressBarContainer">
            <p>Processing, please wait...</p>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='form-functions.js') }}">

</script>
</body>
</html>
