<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ACEEI Algorithm Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='AlgosForm.css') }}">

</head>
<body>
<header>
    <div class="backgroundHeader">
        <h1>ACEEI Algorithm</h1>
        <button class="homeBtn" onclick="goToHomePage()">Home</button>
    </div>
</header>
<div class="formContainer">
    <h2>Insert the parameters and run the algorithm</h2>
    <form action="/process" method="POST" id="aceeiForm">
        <input type="hidden" name="algorithm" value="aceei">
        <!-- Choose Number of Courses -->
        <div class="fieldsContainer">
            <label for="numberOfCourses">Number of Courses:</label>
            <input type="number" id="numberOfCourses" name="numberOfCourses" min="1" required>
            <button type="button" onclick="addCourseFields()" class="vBtn">&#10004;</button>
        </div>
        <!-- Courses Input Fields (Generated Dynamically) -->
        <div id="courseFields">
            <!-- Fields for courses will be added dynamically -->
        </div>

        <div class="fieldsContainer">
            <!-- Choose Number of Students -->
            <label for="numberOfStudents">Number of Students:</label>
            <input type="number" id="numberOfStudents" name="numberOfStudents" min="1" required disabled>
            <button type="button" onclick="addStudentFields()" class="vBtn">&#10004;</button>
        </div>
        <!-- Student Input Fields (Generated Dynamically) -->
        <div id="studentFields">
            <!-- Fields for students will be added dynamically -->
        </div>

        <div class="fieldsContainer">
            <!-- Epsilon (ε) Input Field -->
            <label for="epsilon">Epsilon (ε):</label>
            <input type="number" id="epsilon" name="epsilon" step="0.001" min="0.001" required>

        </div>

        <div class="fieldsContainer">
            <!-- Delta (δ) Input Field -->
            <label for="delta">Delta (δ):</label>
            <input type="number" id="delta" name="delta" step="0.001" min="0.001" required>
        </div>

        <div class="fieldsContainer">
            <!-- t Input Field with Options -->
            <label for="ef-tb">EF-TB status:</label>
            <select id="ef-tb" name="ef-tb" required>
                <option value="EFTBStatus.NO_EF_TB">No EFTB</option>
                <option value="EFTBStatus.EF_TB">EFTB</option>
                <option value="EFTBStatus.CONTESTED_EF_TB">Contested EFTB</option>
            </select>
        </div>

        <div class="btnsContiner">
            <input type="submit" value="Run">
            <button type="button" onclick=addRandomDataInAceei()>Random</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='form-functions.js') }}">

</script>
</body>
</html>
