<!DOCTYPE html>
<html lang="he">
<header>
    <meta charset="UTF-8">
    <title>Course Allocation Algorithms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <div class="overlay">
        <h1>Course Allocation Algorithms</h1>
    </div>

    <script>
        function showAlgorithmFields() {
            var selectedAlgorithm = document.getElementById("algorithm").value;
            var aceeiFields = document.getElementById("aceei-fields");
            var manipulationFields = document.getElementById("manipulation-fields");
            var tabusearchFields = document.getElementById("tabusearch-fields");

            aceeiFields.style.display = "none";
            manipulationFields.style.display = "none";
            tabusearchFields.style.display = "none";

            if (selectedAlgorithm === "ACEEI") {
                aceeiFields.style.display = "block";
            } else if (selectedAlgorithm === "Find a profitable manipulation for a student") {
                manipulationFields.style.display = "block";
            } else if (selectedAlgorithm === "Tabu Search") {
                tabusearchFields.style.display = "block";
            }
        }
    </script>
</header>
<body>
    <div class="indexContainer">
{#        <h1>Course Allocation Algorithms</h1>#}

        <div class="algosContainer">
            <div class="aceeiContainer">
                <h3>ACEEI (Approximate Competitive Equilibrium from Equal Incomes)</h3>
                <p>The goal of this algorithm is to find a fair and competitive allocation of courses to students.</p>
            </div>

            <div class="manipulationContainer">
                <h3>Find a profitable manipulation for a student Algorithm</h3>
                <p>This algorithm is designed to validate the allocations to ensure they meet predefined conditions.</p>
            </div>

            <div class="tabusearchContainer">
                <h3>Tabu Search</h3>
                <p>This advanced algorithm focuses on personalized allocation according to specific needs and preferences of students.</p>
            </div>
        </div>

        <h2>Try Our Algorithms Yourself</h2>
        <form action="/form" method="GET">
            <label for="algorithm">Select an Algorithm:</label>
            <select id="algorithm" name="algorithm">
                <option value="">Select</option>
                <option value="aceei">ACEEI</option>
                <option value="manipulation">Find a profitable manipulation for a student</option>
                <option value="tabusearch">Tabu Search</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
