<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <title>Course Allocation Algorithms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <header>
        <div class="backgroundHeader">
            <h1>Course Allocation Algorithms</h1>
        </div>
    </header>
    <div class="indexContainer">
{#        <h1>Course Allocation Algorithms</h1>#}

        <div class="algosContainer">
            <div class="aceeiContainer">
                <h3 id="title">ACEEI</h3>
                <p>The goal of this algorithm is to find a fair and competitive allocation of courses to students.</p>
                <button class="learnMoreBtn" onclick="openPopup('aceeiPopup')">Learn More</button>
            </div>

            <div class="manipulationContainer">
                <h3 id="title">Find Manipulation</h3>
                <p>This algorithm is designed to validate the allocations to ensure they meet predefined conditions.</p>
                <button class="learnMoreBtn" onclick="openPopup('manipulationPopup')">Learn More</button>
            </div>

            <div class="tabusearchContainer">
                <h3 id="title">Tabu Search</h3>
                <p>This advanced algorithm focuses on personalized allocation according to specific needs and preferences of students.</p>
                <button class="learnMoreBtn" onclick="openPopup('tabusearchPopup')">Learn More</button>
            </div>
        </div>



        <h2>Try Our Algorithms Yourself</h2>
        <form action="/form" method="GET" id="algorithmForm">
            <label for="algorithm">Select an Algorithm:</label>
            <select id="algorithmSelect" name="algorithm">
                <option value="">Select</option>
                <option value="aceei">ACEEI</option>
                <option value="manipulation">Find Manipulation</option>
                <option value="tabusearch">Tabu Search</option>
            </select>
            <button type="submit" id="submitButton">
                Try
                <div class="arrow">
                    <span></span>
                    <span></span>
                    <span></span>
                </div></button>

        </form>
    </div>

    <!-- Modals -->
    <div id="aceeiPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('aceeiPopup')">&times;</span>
            <!-- Content will be loaded here -->
        </div>
    </div>
    <div id="manipulationPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('manipulationPopup')">&times;</span>
            <!-- Content will be loaded here -->
        </div>
    </div>
    <div id="tabusearchPopup" class="popup">
        <div class="popup-content">
            <span class="close" onclick="closePopup('tabusearchPopup')">&times;</span>
            <!-- Content will be loaded here -->
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="errorModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h5>Please select an algorithm before submitting the form.</h5>
        </div>
    </div>



    <script>
        function openPopup(popupId) {
            var popup = document.getElementById(popupId);
            var xhr = new XMLHttpRequest();
            console.log(`${popupId}.html`)
            xhr.open('GET', `/templates/${popupId}.html`, true); // Adjust the path as needed
            xhr.onload = function() {
                if (xhr.status === 200) {
                    popup.querySelector('.popup-content').innerHTML += xhr.responseText;
                    popup.style.display = "block";
                } else {
                    console.error('Failed to load popup content:', xhr.status, xhr.statusText);
                }
            };
            xhr.send();
        }

        function closePopup(popupId) {
            var popup = document.getElementById(popupId);
            popup.style.display = "none";
            popup.querySelector('.popup-content').innerHTML = '<span class="close" onclick="closePopup(\'' + popupId + '\')">&times;</span>'; // Reset content
        }

        // Close the popup if the user clicks outside of it
        window.onclick = function(event) {
            if (event.target.classList.contains('popup')) {
                closePopup(event.target.id);
            }
        }
        function showAlgorithmFields() {
            var selectedAlgorithm = document.getElementById("algorithm").value;
            var aceeiFields = document.getElementById("aceei-fields");
            var manipulationFields = document.getElementById("manipulation-fields");
            var tabusearchFields = document.getElementById("tabusearch-fields");

            aceeiFields.style.display = "none";
            manipulationFields.style.display = "none";
            tabusearchFields.style.display = "none";

            if (selectedAlgorithm === "ACEEI") {
                aceeiFields.style.display = "block";
            } else if (selectedAlgorithm === "Find a profitable manipulation for a student") {
                manipulationFields.style.display = "block";
            } else if (selectedAlgorithm === "Tabu Search") {
                tabusearchFields.style.display = "block";
            }
        }

        // Get the modal
        var modal = document.getElementById("errorModal");

        // Get the close button
        var closeBtn = document.getElementsByClassName("close-btn")[0];

        // When the user clicks on the submit button
        document.getElementById('algorithmForm').addEventListener('submit', function(event) {
            var selectedAlgorithm = document.getElementById('algorithmSelect').value;

            if (!selectedAlgorithm) {
                event.preventDefault();
                modal.style.display = "block"; // Show the modal
            }
        });

        // When the user clicks on the close button, close the modal
        closeBtn.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
