<!-- popups.html -->
<div id="popup-epsilon" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-epsilon')">&times;</span>
        <p>The algorithm is designed to find budgets and prices that make the allocation fair and envy-free. To achieve this, the parameter epsilon (ε) is used. Epsilon defines a range around the student's initial budget within which the algorithm checks for fairness. For example, if epsilon is set to 0.5 and a student's initial budget is 5, then the algorithm will consider budgets ranging from 4.5 to 6.5 for this particular student.</p>
    </div>
</div>

<div id="popup-delta" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-delta')">&times;</span>
        <p>Delta (δ) </p>
    </div>
</div>

<div id="popup-eta" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-eta')">&times;</span>
        <p>Eta (η) </p>
    </div>
</div>

<div id="popup-beta" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-beta')">&times;</span>
        <p>Beta (β) </p>
    </div>
</div>

<div id="popup-ef-tb" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-ef-tb')">&times;</span>
        <p>The EF-TB status </p>
    </div>
</div>

<div id="popup-criteria-for-profitable-manipulation" class="popup-parameter">
    <div class="popup-parameter-content">
        <span class="popup-parameter-close" onclick="closePopup('popup-criteria-for-profitable-manipulation')">&times;</span>
        <p>Criteria for profitable manipulation helps</p>
    </div>
</div>
