<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabu Search Algorithm Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='AlgosForm.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap">


</head>
<body>
<header>
    <div class="backgroundHeader">
        <h1>Tabu Search Algorithm</h1>
        <button class="homeBtn" onclick="goToHomePage()">Home</button>
    </div>
</header>
    <div class="formContainer">
        <h2>Insert the parameters and run the algorithm</h2>
        <form action="/process" method="POST" id="manipulationForm">
            <input type="hidden" name="algorithm" value="tabusearch">
            <div class="fieldsContainer">
                <!-- Choose Number of Courses -->
                <label for="numberOfCourses">Number of Courses:</label>
                <input type="number" id="numberOfCourses" name="numberOfCourses" min="1" required>
                <button type="button" onclick="addCourseFields()" class="vBtn">&#10004;</button>
            </div>


            <!-- Courses Input Fields (Generated Dynamically) -->
            <div id="courseFields">
                <!-- Fields for courses will be added dynamically -->
            </div>


            <div class="fieldsContainer">
                <!-- Choose Number of Students (Initially Disabled) -->
                <label for="numberOfStudents">Number of Students:</label>
                <input type="number" id="numberOfStudents" name="numberOfStudents" min="1" required disabled>
                <button type="button" onclick="addStudentFields()" class="vBtn">&#10004;</button>
            </div>


            <!-- Student Input Fields (Generated Dynamically) -->
            <div id="studentFields">
                <!-- Fields for students will be added dynamically -->
            </div>

            <div class="fieldsContainer">
                <!-- Beta Input Field -->
                <label for="beta">Beta (β):</label>
                <input type="number" id="beta" name="beta" step="1" min="1" required>
                <br />
                <div class="moreInfo">?
                    <span class="moreInfoText">
                        Beta is used to define the range of the distribution from which the students' budgets and the courses prices are drawn.<br><br>
                        For example, if Beta = 4, the budgets and prices will be randomly selected within the range from 1 to beta+1 = 5. </span>
                </div>
            </div>

            <!-- Delta Fields Container -->
            <div class="fieldsContainer">
                <!-- Delta (δ) Input Field -->
                <label for="delta">Delta (δ):</label>
                <input type="number" id="delta" name="delta" step="0.001" min="0.001" required>
                <button type="button" onclick="addDeltaInput()" class="addDeltaBtn">Add Delta</button>`
                <br />
                <div class="moreInfo">?
                    <span class="moreInfoText">
                        Delta is used to update the courses prices.<br>
                        You can choose more than one delta and update the prices more than once.<br><br>
                        For example, if delta is set to 0.5 and the price of course x is 5 so the update<br>
                        price will be 5 + (5 * 0.5) = 7.5
                    </span>
                </div>
            </div>

            <div id="deltaFields">
                <!-- Fields for delta will be added dynamically -->
            </div>

            <div class="btnsContiner">
                <input type="submit" value="Run">
                <button type="button" onclick="addRandomDataInTabuSearch()">Random</button>
            </div>


        </form>
    </div>

    <script src="{{ url_for('static', filename='form-functions.js') }}"></script>
</body>
</html>